$text-color-dark: #504A41;
$text-color-medium: #7C7263;
$text-color-light: #A9A59E;

$primary-color: #CDB48F;



$breakpoint-phone: 320px;
$breakpoint-small-tablet: 479px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1023px;
